 <section id="about" class="about-section section text-center">
        <div class="container">
            <h2 class="section-title">About Us</h2>
            <div class="section-intro">
                <p>We are BrandField. We are a strategic branding and design firm that masterminds strong brands through strategy, design, advertising, marketing, events and pr. At BrandField, we know the only way to succeed in our business is to really get under the skin of your business; to truly understand what makes it tick. </p>
                <p>Find out what the marketplace is looking for, and make the match. We are passionate about ambitious, fast growing businesses and we put our hearts and souls into keeping them on the fast track to success.</p>
            </div><!--//about-desc-->
            <figure class="about-figure">
                <img class="img-responsive center-block" src="/assetsabout.jpg" alt="">
            </figure>
        </div><!--//container-->
    </section><!--//about-section-->