 <form id="contact-form" class="contact-form form" method="post" action="mailer.php">
                <div id="form-messages" class="text-center"></div> 
                <div class="row text-left">
                    <div class="name-group col-sm-6 col-xs-12 form-group">
                        <div class="form-group-inner">
                            <label for="cname">Name</label>
                            <input type="text" class="form-control" id="cname" name="name" placeholder="Your name" minlength="2"  aria-required="true" required>
                        </div>
                    </div><!--//name-group-->
                    <div class="email-group col-sm-6 col-xs-12 form-group">
                        <div class="form-group-inner">
                            <label for="cemail">Email</label>
                            <input type="email" class="form-control" id="cemail" name="email" placeholder="Your email address" aria-required="true" required>
                        </div>
                    </div><!--//email-group-->
                    <div class="phone-group col-sm-6 col-xs-12 form-group">
                        <div class="form-group-inner">
                            <label for="cphone">Phone</label>
                            <input type="tel" class="form-control" id="cphone" name="phone" placeholder="Your phone number" aria-required="true" required>
                        </div>
                    </div><!--//phone-group-->
                    <div class="zipcode-group col-sm-6 col-xs-12 form-group">
                        <div class="form-group-inner">
                            <label for="czipcode">Zip Code</label>
                            <input type="text" class="form-control" id="czipcode" name="zipcode" placeholder="eg.94101" aria-required="true" required>
                        </div>
                    </div><!--//zipcode-group-->
                    <div class="message-group col-xs-12 form-group">
                        <div class="form-group-inner">
                            <label for="cmessage">Your project &amp; additional info</label>
                            <textarea class="form-control" id="cmessage" name="message" rows="6" placeholder="Enter your project info here..."  required></textarea>
                        </div>
                    </div><!--//message-group-->
                    <div class="col-xs-12 form-group">
                        <button type="submit" class="btn btn-block btn-warning btn-cta">Submit</button>
                    </div> 
                </div><!--//row-->
            </form><!--//contact-form-->