    
    <section id="faqs" class="section faq-section">
        <div class="container">
            <h2 class="section-title text-center">Frequently Asked Questions</h2>
            <div class="row">
                <div class="col-sm-4 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq1"><i class="fa fa-info-circle" aria-hidden="true"></i>How does the creative process work?</a></h4>
                        </div>
                        
                        <div class="panel-collapse collapse" id="faq1">
                            <div class="panel-body">
                                After being assigned a project we schedule information-gathering meetings with you and your staff. We discuss your objectives, preferences, target audience, and detailed descriptions of all the user features and benefits of your product or service. Then we research your industry, audience, and competition and develop one to three concepts for your review. After one is chosen, we produce the final version for approval. That’s a very simplistic overview, but that’s the general flow.
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq2"><i class="fa fa-info-circle"></i>How much will it cost</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq2">
                            <div class="panel-body">
                                Every project is by nature custom-made so we do not have a set price list. We determine a price by evaluating your needs and estimating the amount of time for research, concept development, and production plus any expenses. And we keep your budget in mind. Our pricing is competitively lower than what other firms charge with the same level of talent and experience. Every client has a budget in mind, but you may feel apprehensive about revealing it with the idea of being cost-efficient. Price does matter, but it shouldn’t be your top criteria. Those who understand the persuasive power of a creativity and intelligent design realize that the ultimate gains in revenue and exposure will ultimately outweigh any initial investment.
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
              <div class="col-sm-4 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a data-parent="#accordion"
                            data-toggle="collapse" class="panel-toggle" href="#faq3"><i class="fa fa-info-circle"></i>How long will it take?</a></h4>
                        </div>
            
                        <div class="panel-collapse collapse" id="faq3">
                            <div class="panel-body">
                               It really depends on the scope of the project. A timeframe is put together after the informationgathering meetings and after contacting any outside services. We also provide regular progress updates pride ourselves on being able to meet or exceed your most critical deadline. One thing to keep in mind, it’s best not to wait until the last minute; there is no substitute for time when it comes to creativity. However, we do make every effort to adjust our schedule to accommodate your needs.
                            </div>
                        </div>
                    </div><!--//panel-->
                </div>
                </div>
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//section-->
    