    <section class="callout-section section text-center">
        <div class="callout-container container">
            <h2 class="section-title">Interested in hiring us?</h2>
            <div class="callout-desc">Contact us today to talk about your project and requirements.<br> 100% Customer Satisfaction Guaranteed.</div>
            <a class="callout-btn btn btn-cta btn-primary scrollto" href="#contact">Get a FREE quote</a>
        </div><!--//container-->      
    </section><!--//callout-block-->
    
    <section id="projects" class="projects-section section text-center">
        <div class="container">
            <h2 class="section-title">Our Mission </h2>
            <div class="section-intro">To apply our strategic marketing,branding and design disciplines to create memorable, compelling brand experiences that stimulate volume and grow market share for our clients’ products and services.</div>
            <h2 class="section-title">Our Projects </h2>
            <div class="latest-projects">
                <h3 class="sub-title">Latest Case Studies</h3>
                <div class="row">
                    <div class="item col-sm-4 col-xs-12">
                        <div class="item-inner">
                            <div class="project-item">
                                <div class="img-holder img-holder-1"></div>
                                <div class="info-mask">
                                    <div class="mask-inner">
                                        <h4 class="title">Kitchen Extension</h4>
                                        <div class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</div>
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#project-modal-1">View Details</a>
                                        <a class="link" href="#" data-toggle="modal" data-target="#project-modal-1"></a>
                                    </div><!--//mask-inner-->
                                </div><!--//info-mask-->
                            </div><!--//project-item-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-sm-4 col-xs-12">
                        <div class="item-inner">
                            <div class="project-item">
                                <div class="img-holder img-holder-2"></div>
                                <div class="info-mask">
                                    <div class="mask-inner">
                                        <h4 class="title">Loft Conversion</h4>
                                        <div class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</div>
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#project-modal-2">View Details</a>
                                        <a class="link" href="#" data-toggle="modal" data-target="#project-modal-2"></a>
                                    </div><!--//mask-inner-->
                                </div><!--//info-mask-->
                            </div><!--//project-item-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                    <div class="item col-sm-4 col-xs-12">
                        <div class="item-inner">
                            <div class="project-item">
                                <div class="img-holder img-holder-3"></div>
                                <div class="info-mask">
                                    <div class="mask-inner">
                                        <h4 class="title">Bathroom Installation</h4>
                                        <div class="desc">Project intro goes here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor...</div>
                                        <a class="btn btn-secondary" href="#" data-toggle="modal" data-target="#project-modal-3">View Details</a>
                                        <a class="link" href="#" data-toggle="modal" data-target="#project-modal-3"></a>
                                    </div><!--//mask-inner-->
                                </div><!--//info-mask-->
                            </div><!--//project-item-->
                        </div><!--//item-inner-->
                    </div><!--//item-->
                </div><!--//row-->
            </div><!--//latest-projects-->
            
            <div class="gallery">
                <h3 class="sub-title">Photo Gallery</h3>
                <div id="photos-wrapper" class="photos-wrapper row">
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-1.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-1-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-2.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-2-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-3.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-3-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-4.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-4-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-5.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-5-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-6.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-6-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-7.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-7-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-8.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-8-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-9.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-9-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-10.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-10-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-11.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-11-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-12.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-12-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-13.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-13-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-14.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-14-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-15.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-15-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-16.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-16-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-17.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-17-thumb.jpg" alt="" /></a></div>
                    <div class="item col-md-2 col-sm-3 col-xs-4"><a href="/assets/gallery-18.jpg" data-gallery><img class="img-responsive" src="/assets/gallery-18-thumb.jpg" alt="" /></a></div>
                </div><!--//photos-wrapper-->
            </div><!--//gallery-->
        </div><!--//container-->
    </section><!--//section-->