  <section id="reviews" class="reviews-section section  text-center">
        <div class="container-fluid">
            <h2 class="section-title">See what our customers are saying</h2>
<!--            <div id="reviews-carousel" class="owl-carousel owl-theme">-->
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
<!--                            <i class="fa fa-quote-left" aria-hidden="true"></i>-->
                            <p>We are so pleased about the work that BrandField did for us and we recommend them to others because they are so professional..</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div><!--//rating-->
                        <div class="source">
                            <img class="customer-profile img-circle" src="/assets/customer-7.jpg" alt="">
                            <div class="customer-meta">Uganda Aids Commission</div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
<!--                            <i class="fa fa-quote-left" aria-hidden="true"></i>-->
                            <p>We are so pleased about the work that BrandField did for us and we recommend them to others because they are so professional.</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div><!--//rating-->
                        <div class="source">
                            <img class="customer-profile" src="/assets/customer-2.png" alt="">
                            <div class="customer-meta">Action Aid International Uganda</div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
<!--                            <i class="fa fa-quote-left" aria-hidden="true"></i>-->
                            <p>We are so pleased about the work that BrandField did for us and we recommend them to others because they are so professional.</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div><!--//rating-->
                        <div class="source">
                            <img class="customer-profile" src="/assets/customer-3.png" alt="">
                            <div class="customer-meta">Centenary Bank</div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
<!--                            <i class="fa fa-quote-left" aria-hidden="true"></i>-->
                            <p>We are so pleased about the work that BrandField did for us and we recommend them to others because they are so professional.</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div><!--//rating-->
                        <div class="source">
                            <img class="customer-profile" src="/assets/customer-4.png" alt="">
                            <div class="customer-meta">USAID</div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
<!--                            <i class="fa fa-quote-left" aria-hidden="true"></i>-->
                            <p>We are so pleased about the work that BrandField did for us and we recommend them to others because they are so professional.</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div><!--//rating-->
                        <div class="source">
                            <img class="customer-profile" src="/assets/customer-5.png" alt="">
                            <div class="customer-meta">Nile Breweries</div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
                <div class="item">
                    <div class="inner">
                        <blockquote class="quote">
<!--                            <i class="fa fa-quote-left" aria-hidden="true"></i>-->
                            <p>We are so pleased about the work that BrandField did for us and we recommend them to others because they are so professional.</p>
                        </blockquote>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div><!--//rating-->
                        <div class="source">
                            <img class="customer-profile" src="/assets/customer-6.png" alt="">
                            <div class="customer-meta">UNICEF</div>
                        </div><!--//source-->
                    </div><!--inner-->
                </div><!--//item-->
<!--            </div>//reviews-carousel-->
        </div><!--//container-fluid-->
    </section><!--//reviews-section-->