    
    <section id="services" class="section services-section text-center">
        <div class="container">
            <h2 class="section-title">Our Services</h2>
            <div class="section-intro">At BrandField we apply our work practices to create successful brands that meet and exceed your business objectives. With this focused approach we create brands that engage, brands that inspire, brands that endure. We will constantly measure ourselves and our work against these core values. </div>
            <div class="services-list row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-wheel_barrow"></span>
                        <h3 class="item-title">Branding</h3>
                        <div class="item-desc">
                            <p>BrandField is a brand communications agency.What this means is that we help you determine what your brand is, ensure your people live it spontaneously, and then we tell the world about it.</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-paint_brush"></span>
                        <h3 class="item-title">Design</h3>
                        <div class="item-desc">
                            <p>As a leader in design, BrandField provides just the right amount of creativity. It is not just about how great our designs look; it’s about ensuring the designs we create match the culture and energy of the organisation.</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-paint_roller"></span>
                        <h3 class="item-title">Advertising</h3>
                        <div class="item-desc">
                            <p>Integrated brand communication strategies from BrandField ensure your advertising does not conflict with your vision or culture and that your business presence is a true reflection of your business acumen.</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-digger"></span>
                        <h3 class="item-title">Marketing</h3>
                        <div class="item-desc">
                            <p>The most successful organisations in the world rely on comprehensive
empirical research based on primary data to direct their marketing plans.
Research is used to determine what products are suited to which markets, the
buying behavior of client segments, the expected growth of target markets
and whether your organisation is positioned accordingly.</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-ladder"></span>
                        <h3 class="item-title">Events</h3>
                        <div class="item-desc">
                            <p>Revealing your brand at an event can make or break a campaign. Concise and integrated event promotion is the key to high respondent rates and a successful turnout. BrandField event planning and project management facilitates events from product launches to national conventions. Whether your approach is hands-on or off, BrandField is here to make your event happen effortlessly.</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="item-inner">
                        <span class="custom-icon icon-ruler_pencil"></span>
                        <h3 class="item-title">Public Relations</h3>
                        <div class="item-desc">
                            <p>At BrandField, we talk with passion and guts - and that translates into our PR too. Because we know you well, we can tell a story about your business or about your product in a way that grows your brand equity. PR is no longer done just on paper. We will determine what image and audience perceptions will help you reinforce your brand.</p>
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//row-->
            
            <div class="cta-area">
                <ul class="list-inline">
                    <!--<li><a class="btn btn-primary scrollto" href="#contact">Get a FREE quote</a></li>-->
                  <%= link_to "Get a FREE Quote", new_message_path, class:'btn btn-primary scrollto'%>
                    <li><a class="btn btn-secondary scrollto" href="#projects">View our projects</a></li>
                </ul>
            </div><!--//cta-area-->
        </div><!--//container-->
    </section><!--//services-->