 <section id="why" class="why-section section text-center">
        <h2 class="section-title">Why Choose Us?</h2>
        <div class="reasons center-block">
            <div class="item">
                <h3 class="item-title"><i class="fa fa-check" aria-hidden="true"></i> We follow the rule of good behavior</h3>
                <div class="item-desc">We believe in treating others the way we want to be treated. It means we take the time to listen, understand you and your needs, and to be fair and reasonable in all our dealings with you..</div><!--//item-desc-->
            </div><!--//item-->
            <div class="item">
                <h3 class="item-title"><i class="fa fa-check" aria-hidden="true"></i> We live up to our
commitments</h3>
                <div class="item-desc">Quite simply, we do what we say we’re going to do. From the small things like returning your calls to meeting a critical deadline.We want to earn your trust in everything we do, so you can feel confident in our commitment to you and your business.</div><!--//item-desc-->
            </div><!--//item-->
            <div class="item">
                <h3 class="item-title"><i class="fa fa-check" aria-hidden="true"></i> We treat everything related to you as urgent</h3>
                <div class="item-desc">Our goal is for you to rise above the competition. That’s why every de-tail regarding your project is critical. We move quickly to develop or re-solve any issues related to your project. Our success depends on yours.</div><!--//item-desc-->
            </div><!--//item-->
            <div class="item">
                <h3 class="item-title"><i class="fa fa-check" aria-hidden="true"></i>Relationships are
important</h3>
                <div class="item-desc">We love what we do. Beyond the professional and financial rewards of a firm like ours is the satisfaction of working with others who understand the value of creativity. We put a high value on all the relationships we build – that’s why we’re flexible and friendly in everything related to you.</div><!--//item-desc-->
            </div><!--//item-->
            <div class="item">
                <h3 class="item-title"><i class="fa fa-check" aria-hidden="true"></i>We strive to stand
out in the crowd.</h3>
                <div class="item-desc">Beyond our creativity – it’s the level of service we provide. We believe service is a reflection of how we feel about you. Your true friends are the ones who help you move – they’re the ones you can count on, and that’s the attitude we want you to have about us.</div><!--//item-desc-->
            </div><!--//item-->
        </div><!--//reasons-->
        
        <div class="badges container">
            <ul class="badges-list list-inline center-block">
                <li class="badge-item"><a href="#"><img class="img-responsive" src="/assets/badge-1.png" alt=""></a></li>
                <li class="badge-item"><a href="#"><img class="img-responsive"  src="/assets/badge-2.png" alt=""></a></li>
                <li class="badge-item"><a href="#"><img class="img-responsive"  src="/assets/badge-3.png" alt=""></a></li>
                <li class="badge-item"><a href="#"><img class="img-responsive"  src="/assets/badge-4.png" alt=""></a></li>
                <li class="badge-item"><a href="#"><img class="img-responsive"  src="/assets/badge-5.png" alt=""></a></li>
            </ul><!--//badges-list-->
        </div><!--//badges-->
    </section><!--//why-section-->